@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

*{

margin:0px;
padding:0px;
box-sizing:border-box;
font-family:Satisfy;
}

.bg-container{
background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.5)),
url("doraemon.jpg");
width:100%;
height:200vh;
background-position:center;
background-size:cover;
}
:root{
--main-color:rgb(233, 248, 26);

}
.theme-text{
color:var(--main-color);
}
.navbar-brand{
color:var(--main-color)!important;
}
.heading{
    text-align:center;
    align-items: center;
}
.para{
    display:flex;
    justify-content:center;
    color:white;
}